* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.js-list {
  list-style: none;
}
.js-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.js-item-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.js-item-list > li {
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 8px;
}

.gallery {
  width: calc(3 * 360px + 100px);
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 0 auto;
}
.js-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
#name-input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}

#name-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.task-3-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form > label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.login-form > label:first-child {
  margin-bottom: 8px;
}
.login-form > label > input[type="password"] {
  margin-bottom: 16px;
}
.login-form > button {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 0;
  border: none;
}

.change-color {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.widget > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
